<!doctype html>
{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="card-title">About the App</h1>
                    <p class="card-text">I made a similar app back in 2018 while I was working for Asiacell, a SIM card carrier that operates in Iraq. The reason why I made the app in the first place was that the company's cloud-hosted customer database went down. I was just a data-entry clerk, but I decided to be innovative and came up with a similar app to this. This version is, of course, much better than its predecessor because I’ve learned a lot since then. The initial app was a simple solution built in a rush to solve an urgent problem, but it taught me the basics of creating a functional database application.</p>
                    <p class="card-text">Since then, I've delved deeper into the world of coding and development. I've improved my skills, learned new technologies, and understood the importance of robust design and user experience. This new version is more efficient, scalable, and secure. It includes features like user authentication, data export capabilities, and a much more intuitive interface. The code is cleaner, more maintainable, and follows best practices that I was not aware of back then.</p>
                    <p class="card-text">The journey from that first app to this one has been a significant part of my personal and professional growth. It’s not just about creating an app that works; it's about creating an app that is reliable, easy to use, and adaptable to future needs. This project symbolizes my transition from a novice data-entry clerk to a skilled developer, ready to tackle new challenges and innovate further.</p>
                </div>
            </div>
            <div class="card shadow-sm mt-4">
                <div class="card-body">
                    <h1 class="card-title">Techs Used</h1>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Python</li>
                        <li class="list-group-item">Django</li>
                        <li class="list-group-item">mySQL</li>
                        <li class="list-group-item">Microsoft Azure</li>
                        <li class="list-group-item">HTML</li>
                        <li class="list-group-item">CSS</li>
                        <li class="list-group-item">Bootstrap</li>
                    </ul>
                </div>
            </div>
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="card-title">Get in touch!</h1>
                    <p class="card-text">
                        📧 Email: jasonfaeq@gmail.com <br/><br/>
                        💼 LinkedIn: Jason Faeq<br/><br/>
                        🌐 Website: www.jasonfaeq.com</p>
                </div>
            </div>
        </div>
    </div>
    <br/><br/><br/><br/><br/> 
    2024 Jason Faeq. All rights reserved.
</div>
{% endblock %}